<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests"  name="Suite">

<groups>
	<run>
		<include name="Errorvalidation"></include>
	</run>
	
</groups>
  <test thread-count="5" name="Submitorders">
    <classes>
      <class name="Rahulsheteacademy_Selenium_Framewor_Section20.Testcomponents.SubmitOrders"/>
    </classes>
  </test> <!-- Test -->


  <test thread-count="5" name="Errorvalidation">
    <classes>
      <class name="Rahulsheteacademy_Selenium_Framewor_Section20.Testcomponents.Errorvalidation"/>
    </classes>
  </test> <!-- Test -->
 </suite> <!-- Suite -->

      